/*start reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset css*/

#main {
	background: url(Images/falcon1.jpg) no-repeat;
	height: 1080px;
	background-size: 1920px 1080px;
	opacity: 0.9;
}
body {
	background: url(Images/fon.jpg) repeat-y;
}
#nav-bar {
	display: inline-block;
	color: white;
	width: 100%;
}
#nav-bar ul {
	display: flex;
	width: 100%;
	padding: 2% 0 2% 0;
	flex-wrap: nowrap;
	flex-direction: row;
}
#number {
	margin-left: auto;
}
#nav-bar li {
	font-size: 30px; 
	margin-right: 20px;
	padding-left: 20px;
	font-family: Verdana;
}
a {
	text-decoration: none;
	color: white;
}
h1 {	
	position: relative;
	font-family: Verdana;
	font-size: 100px;
	margin-top: 500px;
	margin-right: 100px;
	float: right;
}
#info-body {
	height: 1000px;
	width: 85%;
	margin: 5% auto 5% auto;
	background-color: rgba(255, 255,255, 0.4);
	border: rgba(255, 255, 255, 0.4) 1px solid;
	border-radius: 3%;
}
#footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #D0DAEE;
}